body {
    margin:0;
    padding:0;
    font-family: helvetica;
}
.baner-lewy, .blok-lewy{
    float:left;
}
.baner-prawy, .blok-prawy{
    float:right;
}
.baner-lewy, .blok-lewy {
    background-color:rgb(130,69,85);
    color:white;
    width:30%;
    height:200px;
    text-align:center;
}
.baner-prawy,.blok-prawy {
    background-color:rgb(130,69,85);
    color:white;
    width:70%;
    height:200px;
    text-align:center;
}
.glowny, .stopka {
    background-color:rgb(240,234,226);
    padding:120px;
}
table, td{
    border: 1px solid rgb(130,69,85);
    padding:10px;
}
.odnosnik {
    color:rgb(240,234,226);
}
.samochod {
    height:200px;
}